@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  background-color: #001e26;
  overflow: overlay;
  scrollbar-gutter: auto;
  transition: all;
  transition-duration: 350ms;
}

body {
  scrollbar-gutter: auto;
}

body::-webkit-scrollbar {
  width: 2rem;
  padding: 2rem;
  margin: 2rem;
}

body::-webkit-scrollbar-track {
  background-color: #001e26;
}

body::-webkit-scrollbar-corner {
  background-color: #001e26;
}
body::-webkit-scrollbar-track-piece {
  background-color: #001e26;
}

body::-webkit-scrollbar-thumb {
  background-color: #87edc3;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #00dc82;
}

/* */

.custom-request-scrollbar {
  scrollbar-gutter: auto;
}

.custom-request-scrollbar::-webkit-scrollbar {
  width: 2rem;
  padding: 2rem;
  margin: 2rem;
}

.custom-request-scrollbar::-webkit-scrollbar-track {
  background-color: #15272d;
}

.custom-request-scrollbar::-webkit-scrollbar-thumb {
  background-color: #34d399;
  border-radius: 10px;
}

.custom-request-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #10b981;
}

.custom-request-scrollbar::-webkit-resizer {
  background-color: #2cffb1;
  border-radius: 10px;
}
.custom-request-scrollbar::-webkit-scrollbar-corner {
  background-color: #15272d;
}

.custom-response-scrollbar {
  scrollbar-gutter: auto;
}

.custom-response-scrollbar::-webkit-scrollbar {
  width: 2rem;
  padding: 2rem;
  margin: 2rem;
}

.custom-response-scrollbar::-webkit-scrollbar-track {
  background-color: black;
}

.custom-response-scrollbar::-webkit-scrollbar-corner {
  background-color: black;
}
.custom-response-scrollbar::-webkit-scrollbar-track-piece {
  background-color: black;
}

.custom-response-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffd560b2;
  border-radius: 10px;
}

.custom-response-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ffd460;
}

.overlay {
  overflow: overlay;
}
